.h5p-chart svg {
  display: block;
  margin: 0 auto;
}
.h5p-chart-chart {
  font-size: 0.75em;
}

.h5p-chart-pie path {
  stroke: #fff;
  stroke-width: 0.125em;
}

.h5p-chart-chart.h5p-chart-pie {
  height: 30em;
}

